Week_05/week5class1work3_springdiy/resources/META-INF/my.xsd

<xsd:schema
        xmlns="http://yezj.cc/schema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://yezj.cc/schema">
    <xsd:complexType name="myelementcomplexType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="property" type="prop"></xsd:element>
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="cls" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="prop">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>

<!--    <xsd:element name="myelement" type="myelementcomplexType"/>-->



    <xsd:element name="myelement">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="identifiedType">
                    <xsd:group ref="beanElements"/>
                    <xsd:attributeGroup ref="beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!-- base types -->
    <xsd:complexType name="identifiedType" abstract="true">
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>

    <xsd:group name="beanElements">
        <xsd:sequence>
<!--            <xsd:element ref="description" minOccurs="0"/>-->
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
<!--                <xsd:element ref="meta"/>-->
<!--                <xsd:element ref="constructor-arg"/>-->
                <xsd:element ref="property"/>
<!--                <xsd:element ref="qualifier"/>-->
<!--                <xsd:element ref="lookup-method"/>-->
<!--                <xsd:element ref="replaced-method"/>-->
                <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>

    <xsd:attributeGroup name="beanAttributes">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="cls" type="xsd:string"/>
    </xsd:attributeGroup>

    <xsd:element name="property" type="propertyType">
    </xsd:element>

    <xsd:complexType name="propertyType">
<!--        <xsd:sequence>-->
<!--            <xsd:element ref="description" minOccurs="0"/>-->
<!--            <xsd:choice minOccurs="0" maxOccurs="1">-->
<!--                <xsd:element ref="meta"/>-->
<!--                <xsd:element ref="bean"/>-->
<!--                <xsd:element ref="ref"/>-->
<!--                <xsd:element ref="idref"/>-->
<!--                <xsd:element ref="value"/>-->
<!--                <xsd:element ref="null"/>-->
<!--                <xsd:element ref="array"/>-->
<!--                <xsd:element ref="list"/>-->
<!--                <xsd:element ref="set"/>-->
<!--                <xsd:element ref="map"/>-->
<!--                <xsd:element ref="props"/>-->
<!--                <xsd:any namespace="##other" processContents="strict"/>-->
<!--            </xsd:choice>-->
<!--        </xsd:sequence>-->
        <xsd:attribute name="name" type="xsd:string" use="required">
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string">
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string">
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>