Week_05/week5class1work3_springdiy/resources/META-INF/my.xsd

<xsd:schema
        xmlns="http://yezj.cc/schema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://yezj.cc/schema">

    <xsd:complexType name="schoolType">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="klass" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="klassType">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="students" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="studentType">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="age" type="xsd:int"/>
    </xsd:complexType>

    <xsd:element name="school" type="schoolType"/>
    <xsd:element name="klass" type="klassType"/>
    <xsd:element name="student" type="studentType"/>

</xsd:schema>